; 请妥善保管您的配置
registry=https://joyowogroup-npm.pkg.coding.net/kylin/releases/
always-auth=true
//joyowogroup-npm.pkg.coding.net/kylin/releases/:username=releases-1689127532546
//joyowogroup-npm.pkg.coding.net/kylin/releases/:_password=ZDMwZmE4NTQ3Y2U3NWQ0ZGE5NjE1YWI0OGEwZTcyMTE2NDdmOWFkYw==
//joyowogroup-npm.pkg.coding.net/kylin/releases/:email=saohouz@163.com